*,
*::before,
*::after {
	box-sizing: border-box;
}

                                                 /*this changes how padding is calculated */

												
:root {
	--ff-primary:'Source Sans Pro', sans-serif;    /*ff= fontfamily*/
	--ff-secondary:'Source Code Pro', monospace;

	--fw-reg: 300;                                /*font weight=fw*/
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: pink;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em/*to the right*/ 0.25em/* moves it down*/ 0.75em /*blur*/ rgba(0,0,0,.25),
		0.125em 0.125em 0.25em rgba(0,0,0, 0.15);
}

@media (min-width: 800px) {		/*changing style based on px size*/
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
}
}
/*general styles*/

body {
	background: var(--clr-light);			
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--fs-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 5em 2em; /* up/down (1st#) l/r (2nd#) spacing for border*/
}
img{
	display: block;
	max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

/*typography*/

h1,
h2,
h3, {
	line-height: 1;
	margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.section__title {
	margin-bottom: .25em; /*margins and titles in "em" not "rem"*/
	font-family: var(--ff-primary);
}

.section__title--intro{
	font-weight: var(--fw-reg);
}

.section__title--intro strong {
	display: block; /* puts Inara Nyingifa on its own line*/
}

.section__subtitle {
	margin: 0;
	font-size: var(--fs-h3);


}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding: .25em 1em;	/* makes green accent bar thicker*/
	font-family: var(--ff-secondary);
	margin-bottom: 1em;

}


/*header*/
.nav__item{
	display: inline;
}
.nav__item a {
	color: black;
	padding: 4rem;
	text-align: center;
}
header {
	background-color:pink;
}
/*Intro section*/

.intro{
	position: relative;
}

.intro__img{
	box-shadow: var(--bs);
}

.section__subtitle--intro{
	display: inline-block;
}

@media (min-width: 600px){	/* this section changes the size /design of content when it exceeds 600px*/
	.intro{
		display: grid;
		width: min-content; /* keeping intro photo and text centered at different sizes*/
		margin: 0 auto;
		grid-column-gap: 1em;
		grid-template-areas:
		"img title"
		"img subtitle";
		grid-template-columns: min-content max-content;
	}

	.intro__img{
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}

	.section__subtitle--intro{
		align-self: start; /* stops the "front end dev section" from creating an extra layer*/
		grid-column: -1 / 1; /* stretches "front end dev section" across beneath the image*/
		grid-row: 2; /*allows the text and image to overlap*/
		text-align: right;
		position: relative;
		left: -1.5em;
		width: calc(100% + 1.5em);

	}
}
/*my services section */

.my--services{
	background-color: var(--clr-dark);
	background-image: "back";
	color: var(--clr-light);

}
